<!DOCTYPE html>
<html>
<header>
  <div class="header-container">
    <nav class="main-nav">
      <a href="/">Inicio</a>
      <a href="/movies">Películas</a>
      <a href="/customers">Clientes</a>
    </nav>
  </div>
</header>

<body>
